<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToSTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToSTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <ToSTranslator.Properties.Settings>
            <setting name="MIN_proxy_id" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_proxy_password" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_proxy_port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MIN_proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_API_自動翻訳" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_SITE_URL" serializeAs="String">
                <value>https://mt-auto-minhon-mlt.ucri.jgn-x.jp/</value>
            </setting>
            <setting name="DeepL_SITE_URL" serializeAs="String">
                <value>https://www.deepl.com/translator</value>
            </setting>
        </ToSTranslator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ToSTranslator.Properties.Settings>
            <setting name="MIN_API_URL" serializeAs="String">
                <value>https://mt-auto-minhon-mlt.ucri.jgn-x.jp/api/mt/voicetraNT_ko_ja/</value>
            </setting>
            <setting name="DeepL_API_URL" serializeAs="String">
                <value>https://api-free.deepl.com/v2/translate</value>
            </setting>
            <setting name="RENDER_STYLE" serializeAs="String">
                <value>APPEND</value>
            </setting>
            <setting name="CAUTION" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_API_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="MIN_API_SECRET" serializeAs="String">
                <value />
            </setting>
            <setting name="DeepL_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="API_TYPE" serializeAs="String">
                <value />
            </setting>
        </ToSTranslator.Properties.Settings>
    </userSettings>
</configuration>
